<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CollectiveEntities" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=jarias2;user id=jariasm55;password=Scipio0211;persistsecurityinfo=True;database=getty;allowzerodatetime=True;convertzerodatetime=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CollectiveEntities" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.54.0.76;user id=useread;password=r3adonly;persistsecurityinfo=True;database=getty;allowzerodatetime=True;convertzerodatetime=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CollectiveEntities" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Scipio0211!;persistsecurityinfo=True;database=getty;allowzerodatetime=True;convertzerodatetime=True&quot;" providerName="System.Data.EntityClient" />
    <!--Testing-->
    
    <add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Scipio0211!;persistsecurityinfo=True;database=getty;allowzerodatetime=True;convertzerodatetime=True&quot;" providerName="System.Data.EntityClient" />
    
    <!--Honduras--><!--
    <add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.54.0.76;user id=useread;password=r3adonly;persistsecurityinfo=True;database=getty;allowzerodatetime=True;convertzerodatetime=True&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--Cavite--><!--
    --><!--<add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.32.76;user id=gettyv2;password=g3ttyv2;persistsecurityinfo=True;database=getty;allowzerodatetime=True;convertzerodatetime=True&quot;" providerName="System.Data.EntityClient" />--><!--
    
    --><!--Quezon--><!--
    <add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.1.80;user id=gettyv2;password=g3ttyv2;persistsecurityinfo=True;database=getty_qc_live;allowzerodatetime=True;convertzerodatetime=True&quot;" providerName="System.Data.EntityClient" />-->
    
    
  </connectionStrings>
</configuration>