<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CollectiveEntities" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.54.0.76;user id=useread;password=r3adonly;persistsecurityinfo=True;database=getty;allowzerodatetime=True;convertzerodatetime=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>