<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <!--Testing-->
    <add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=jarias;password=Scipio0211!;database=getty;allowzerodatetime=True;convertzerodatetime=True;connectionlifetime=10;persistsecurityinfo=True;pooling=False;connectionreset=False;autoenlist=False;compress=True;keepalive=2&quot;" providerName="System.Data.EntityClient" />
    
    <!--Honduras--><!--
    <add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.54.0.77;user id=juan.arias;password=jU@n@r!$;persistsecurityinfo=True;database=getty;allowzerodatetime=True;convertzerodatetime=True;connectionlifetime=5;persistsecurityinfo=True;pooling=False;connectionreset=False;autoenlist=False;compress=True;keepalive=5&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--Cavite-->
      <!--
    <add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.32.76;user id=gettyv2;password=g3ttyv2;persistsecurityinfo=True;database=getty;;allowzerodatetime=True;convertzerodatetime=True;connectionlifetime=10;persistsecurityinfo=True;pooling=False;connectionreset=False;autoenlist=False;compress=True;keepalive=5&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--Quezon-->
      <!--
    <add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.1.80;user id=gettyv2;password=g3ttyv2;persistsecurityinfo=True;database=getty_qc_live;;allowzerodatetime=True;convertzerodatetime=True;connectionlifetime=10;persistsecurityinfo=True;pooling=False;connectionreset=False;autoenlist=False;compress=True;keepalive=5&quot;" providerName="System.Data.EntityClient" />-->
    
    
  </connectionStrings>
</configuration>