<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Collective.AgentClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>


    <!--Testing-->
    <add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=jarias;password=Scipio0211!;database=getty;allowzerodatetime=True;convertzerodatetime=True;connectionlifetime=1;persistsecurityinfo=True;pooling=False;connectionreset=False;autoenlist=False;compress=True;keepalive=1&quot;" providerName="System.Data.EntityClient" />
    
    <!--Honduras--><!--
    <add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.54.0.76;user id=gettyv2;password=g3ttyv2;persistsecurityinfo=True;database=getty;allowzerodatetime=True;convertzerodatetime=True;connectionlifetime=10;persistsecurityinfo=True;pooling=False;connectionreset=False;autoenlist=False;compress=True;keepalive=5&quot;" providerName="System.Data.EntityClient" />-->
    
    
    <!--Cavite-->
    <!--<add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.32.76;user id=gettyv2;password=g3ttyv2;persistsecurityinfo=True;database=getty;allowzerodatetime=True;convertzerodatetime=True;connectionlifetime=10;persistsecurityinfo=True;pooling=False;connectionreset=False;autoenlist=False;compress=True;keepalive=5&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--Quezon-->
    <!--<add name="CollectiveEntities2" connectionString="metadata=res://*/CollectiveEntitiesData.csdl|res://*/CollectiveEntitiesData.ssdl|res://*/CollectiveEntitiesData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.1.80;user id=gettyv2;password=g3ttyv2;persistsecurityinfo=True;database=getty_qc_live;allowzerodatetime=True;convertzerodatetime=True;connectionlifetime=10;persistsecurityinfo=True;pooling=False;connectionreset=False;autoenlist=False;compress=True;keepalive=5&quot;" providerName="System.Data.EntityClient" />-->
    
  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <userSettings>
    <Collective.AgentClient.Properties.Settings>
      <setting name="ConnectionTest" serializeAs="String">
        <value>10.54.0.76</value>
      </setting>
      <setting name="ThisSite" serializeAs="String">
        <value>Honduras</value>
      </setting>
      <setting name="RemoteManifest" serializeAs="String">
        <value>\\10.54.0.44\CSData\Getty\App\Getty.manifest</value>
      </setting>
      <setting name="AutoCheckForUpdates" serializeAs="String">
        <value>False</value>
      </setting>
    </Collective.AgentClient.Properties.Settings>
  </userSettings>
</configuration>